<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# Force non-index.php URLs
RewriteCond %{THE_REQUEST} \s/+index\.php[?\s] [NC]
RewriteRule ^index\.php$ / [R=301,L,QSA]

# Standard routing
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L,QSA]
</IfModule>
